* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
	font-weight: bold;
    line-height: 1.6;
    background-color: #1d1e20;
    color: white;
}

/* Header */
header {
    background-color: #333;	
    color: white;
    padding: 15px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    font-size: 2rem;
}

.sim {
    color: #2daae1; /* Azzurro per "Sim" */
}

.hub {
    color: #f07d00; /* Arancione per "hub" */
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;	
}

/* Hero Section con Animazione di Sfondo */
.hero {
    text-align: center;
    padding: 160px 40px;
    background: url('images/stampante_3d.png') center center no-repeat;
    background-size: cover;
    animation: stampaAnimata 15s infinite;
    color: white;
}

.hero h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.hero p {
    font-size: 1.2rem;
}
.contatti h2 {
  padding-top: 10px;
  height: 30px;
}

.contatti img {
  width: 25px; /* imposta la larghezza dell'immagine */
  height: auto; /* per mantenere le proporzioni */
  margin-left: 2px; /* spazio tra il testo e l'immagine */
  vertical-align: middle;
}

/* Animazione di Sfondo */
@keyframes stampaAnimata {
    0% {
        background-position: center center;
        opacity: 1;
    }
    50% {
        background-position: top center;
        opacity: 1;
    }
    100% {
        background-position: center bottom;
        opacity: 0;
    }
}

/* Prodotti in evidenza */
.evidenza h2{
	margin-left: 30px;
	margin-top: 30px;
	}
	
.featured-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
}

.product-item {
    background-color: #333333;
    padding: 15px;
    text-align: center;
    border: 1px solid #262626;
    width: calc(33% - 20px); /* 3 colonne con spazio tra */
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    max-width: 100%;
    height: 250px;
    object-fit: fill; /* Assicura che l'immagine non venga deformata */
    margin-bottom: 15px;
}

.product-item h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.product-item a {
    display: inline-block;
    background-color: #007bff; /*colore bottone*/
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.product-item a:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 190px;
}

footer p {
    font-size: 0.9rem;
}

/* Form di contatto */
.contact-form {
    max-width: 600px;
    margin:  auto;
    padding: 30px;
    background-color: #262626;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 25px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-top: 30px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}


